<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionUsers" value="Host=localhost;Port=5432;Database=vk;Username=postgres;Password=admin" />
    <add key="ConnectionGroups" value="Host=localhost;Port=5432;Database=groups;Username=postgres;Password=admin" />
    <add key="ConnectionStates" value="Host=localhost;Port=5432;Database=states;Username=postgres;Password=admin" />
  </appSettings>
</configuration>